.w98-windowchrome {
    display: grid;
    gap: var(--px-w);

    padding-block-start: calc(3 * var(--px-w));
    padding-block-end:   calc(2 * var(--px-w));
    padding-inline:      calc(2 * var(--px-w));

    background-color: #ffffff;

    box-shadow: 
        inset 0                      calc( 1 * var(--px-w)) #BDBEBD,
        inset calc(-1 * var(--px-w)) calc(-1 * var(--px-w)) #ffffff,
        inset calc( 1 * var(--px-w)) calc( 2 * var(--px-w)) #7B7D7B,
        inset calc(-2 * var(--px-w)) calc(-2 * var(--px-w)) #7B7D7B;

    border-bottom: calc(3 * var(--px-w)) solid #BDBEBD;;
}


/* 
TODO: rename all instances to 
w98-windowchrome__section
*/
.windowchrome__section {
    background-color: #BDBEBD;

    /* Styles modified by JS */
    box-shadow: inset 0 calc(-1 * var(--px-w)) #7B7D7B;
    
    /* 
    TODO: also needs border-right for that cool effect
    seen on the menubar / windows logo thing
    This will also require JS to remove the border
    if there is only 1 element in a row though
    */
}