/* 
Below are the classes for styling the 
windowchrome container 
*/
.windowchrome-a {
    padding-right: 2px;
    padding-bottom: 2px;

    background-color: white;

    border-top: 2px solid #BDBEBD;
    border-bottom: 6px solid #BDBEBD;
}

.windowchrome-b {
    padding-left: 2px;
    padding-top: 2px;

    border-top: 2px solid #7B7D7B;
    border-right: 2px solid #7B7D7B;
    border-bottom: 2px solid #7B7D7B;
    border-left: 2px solid #7B7D7B;
}
/* ////////// End style groups //////////


/* 
This is the actual container class for the 
windowchrome bars that can be added which are:
    * title bar (section with blue background) (maybe excldude the title bar)
    * menu bar  (section with File, Edit, View)
    * tool bar  (section with buttons / tools)
 */
.windowchrome {
    width: 100%;
}

/* 
This is the container for a single section of
the windowchrome like the menu bar and tool bar.
*/
.windowchrome__section {
    background-color: #BDBEBD;

    /* Styles modified by JS */
    margin-block-end: 2px;
    border-bottom: 2px solid #7B7D7B;
    /* TODO: also needs border-right */
}
