/* @font-face {
    font-family: "W95";
    src: url("./fonts/W95font.otf") format("otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "W95";
    src: url("./fonts/W95font-Bold.otf") format("otf");
    font-weight: 700;
    font-style: normal;
}
 */
:root {
    --px-w: 2px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;

    font-family: "W95font";
}

html {
    display: flex;
    
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: #008080;
}