.taskbar-a {
    
    min-height: 55px;

    border-top: 2px solid #DEDFDE;
}

.taskbar-b {
    width: 100%;
    height: 100%;

    padding: 4px;

    border-top: 2px solid white;

    background-color: #BDBEBD;
}

.taskbar {
    display: flex;
    gap: 1rem
}


/* 
Testing new method.
*/
.w98-taskbar {
    display: flex;
    gap: 1rem;

    padding: 4px;
    padding-block-start: calc(4px + 2 * var(--px-w));

    background-color: #BDBEBD;

    box-shadow: 
        inset 0 calc(1 * var(--px-w)) #DEDFDE,
        inset 0 calc(2 * var(--px-w)) #ffffff;
}