.TODO_temp_style {
    margin-block: 2px 6px;
    padding: 6px 16px 4px 14px;
}

.TODO_temp_style:hover {
    box-shadow: 
        inset calc(-1 * var(--px-w)) calc(-1 * var(--px-w)) #7B7D7B,
        inset calc( 1 * var(--px-w)) calc( 1 * var(--px-w)) #ffffff;
}

.w98-menuhotkey {
    text-decoration-line: underline;
}








/* Random styles */

.w98-verticalbar {
    width: 6px;

    margin-block: calc(2 * var(--px-w)) calc(3 * var(--px-w));

    /* On menubar and toolbar, marg right is 4px (8px), on taskbar, marg right is 7px (14px) */
    margin-right: 8px;
    
    box-shadow: 
        inset calc(-1 * var(--px-w)) calc(-1 * var(--px-w)) #7B7D7B,
        inset calc( 1 * var(--px-w)) calc( 1 * var(--px-w)) #ffffff;

    background-color: #DEDFDE;
}