/* 
Below are the classes for styling the 
window container
*/


/* ///////////// End style groups /////////////*/

.window { /* TODO: remove, temp style */

    /* TODO: for now just work on fullscreen window */
    /* padding: 8px;

    box-shadow:
    inset 0 0 0 2px #D9D9D9,
    inset 0 0 0 4px white,
    inset 0 0 0 8px #BDBEBD; */
}


/* 
TODO: need to "modularize" the window code 
to support windows that may not be fullscreened.
*/