/* 
Below are the classes for styling the 
window container
*/


/* ///////////// End style groups /////////////*/

.window { /* TODO: remove, temp style */
    width: 100vw;

    /* TODO: for now just work on fullscreen window */
    /* padding: 8px;

    box-shadow:
    inset 0 0 0 2px #D9D9D9,
    inset 0 0 0 4px white,
    inset 0 0 0 8px #BDBEBD; */
}

.window_titlebar { /* TODO: remove, temp style */
    width: 100%;

    background-color: #08517B;
}












/* 
TODO: figure out how the size applied to 
windowchrome is being applied to windowchrome
(from windowchrome.css)

Notably .windowchrome is a child of 
.windowchrome-a which is a child of
.window. Somehow the size is being propogated
through despite what I have previously believed
to be the expected behavior.
*/