/* 
Below are the classes for styling the 
button container 
*/

/* 
TODO: should this be a global property 
to remove default styles? 
*/
button {
    border: none;
}

.button-a {
    padding-top:  2px;
    padding-left: 2px;

    border-bottom: 2px solid black;
    border-right:  2px solid black;

    background-color: white;
}

.button-b {
    padding-top:  2px;
    padding-left: 2px;

    border-bottom: 2px solid #7B7D7B;
    border-right:  2px solid #7B7D7B;

    background-color: #DEDFDE;
}

/* 
TODO: note - currently I have it so that the button "grows" around
whatever is a child of the .button class. However this causes weird sizing
issues with the button at least in the current implementation of 
the titlebar / window (01/02 - 12:08AM)
*/
.button {
    background-color: #BDBEBD;
}


/* interaction */
.button-a:active {
    border-bottom-color: white;
    border-right-color:  white;

    background-color: black;
}

.button-b:active {
    border-bottom-color: #DEDFDE;
    border-right-color: #DEDFDE;

    background-color: #7B7D7B;
}


/* 
Testing new method.
If im being honest I've basically copied how it was done here:
https://jdan.github.io/98.css/#button

I stumbled upon this while looking up more Windows 98 resources
and it does exactly what I want.

I'm still going to "develop" this on my own as best as I can knowing 
that I can use box-shadows now but I will likely be referencing the
above link a lot.

Its kinda sad since I spent WAYYYY too much time figuring out how to
make and design some of these things just for it to be done already, and 
way better... Truly a Daniel classic!
*/
:root {
    --px-w: 2px;
}

.w98-button {
    background: #BDBEBD;

    box-shadow: 
        inset calc(-1 * var(--px-w)) calc(-1 * var(--px-w)) #000000,
        inset calc( 1 * var(--px-w)) calc( 1 * var(--px-w)) #ffffff,
        inset calc(-2 * var(--px-w)) calc(-2 * var(--px-w)) #7B7D7B,
        inset calc( 2 * var(--px-w)) calc( 2 * var(--px-w)) #DEDFDE;

    /* TODO: remove, temp props */
    margin-inline-start: 5rem;
}

.w98-button:active {
    box-shadow: 
        inset calc(-1 * var(--px-w)) calc(-1 * var(--px-w)) #ffffff,
        inset calc( 1 * var(--px-w)) calc( 1 * var(--px-w)) #000000,
        inset calc(-2 * var(--px-w)) calc(-2 * var(--px-w)) #DEDFDE,
        inset calc( 2 * var(--px-w)) calc( 2 * var(--px-w)) #7B7D7B;
}