/* 
Below are the classes for styling the 
clientarea container 
*/
.clientarea-a {
    padding-right: 2px;
    padding-bottom: 2px;

    border-top:    2px solid #7B7D7B;
    border-left:   2px solid #7B7D7B;

    background-color: white;
}

.clientarea-b {
    width: 100%;
    height: 100%;

    padding-right: 2px;
    padding-bottom: 2px;

    border-top:  2px solid black;
    border-left: 2px solid black;

    background-color: #BDBEBD;
}