/* 
Below are the classes for styling the 
clientarea container 
*/
.clientarea-a {
    padding-right: 2px;
    padding-bottom: 2px;

    border-top:    2px solid #7B7D7B;
    border-left:   2px solid #7B7D7B;

    background-color: white;
}

.clientarea-b {
    width: 100%;
    height: 100%;

    padding-right: 2px;
    padding-bottom: 2px;

    border-top:  2px solid black;
    border-left: 2px solid black;

    background-color: #BDBEBD;
}


/* 
Testing new method.
*/
.w98-clientarea {
    box-shadow: 
        inset calc(-1 * var(--px-w)) calc(-1 * var(--px-w)) #ffffff,
        inset calc( 1 * var(--px-w)) calc( 1 * var(--px-w)) #7B7D7B,
        inset calc(-2 * var(--px-w)) calc(-2 * var(--px-w)) #DEDFDE,
        inset calc( 2 * var(--px-w)) calc( 2 * var(--px-w)) #000000;
}