.titlebar {
    width: 100%;
    min-height: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 4px;
    padding-block: 2px;
}

.titlebar_appicon {

    /* TODO: remove, temp props */
    width: 20px;
    height: 20px;

    border-top: 2px solid white;
    border-left: 2px solid white;

    border-right: 3px solid black;
    border-bottom: 3px solid black;

    background-color: #7B7D7B;
}

.titlebar_title {
    margin-block-start: 1px;

    font-family: "W95font";
    font-size: 1.2rem;       /* NOTE: The titlebar should never be resized... */
    font-weight: bold;
    letter-spacing: 0.1em;

    color: white;
}



/* 
Below are the "sub" containers
*/
.titlebar__left {
    display: flex;
    gap: 6px;
}

.titlebar_buttons__container {
    display: flex;
}

.titlebar_buttons__close {
    margin-inline-start: 4px;
}

