.titlebar {
    width: 100%;

    height: 36px; /* Should remain constant */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 4px;
    padding-block: 2px;
}

.titlebar_appicon {

    /* 
    Appicon in its current state (with TODO below) is not 
    aligned properly with the other elements. Figure out why.
    align-self: center;
    seems to fix it but I feel I should not even need this
    */
    /* TODO: remove, temp props */
    width: 20px;
    height: 20px;

    align-self: center;

    border-top: 2px solid white;
    border-left: 2px solid white;

    border-right: 3px solid black;
    border-bottom: 3px solid black;

    background-color: #7B7D7B;
}

.titlebar_title {
    margin-block-start: 1px;

    font-family: "W95font";
    font-size: 1.7rem; /* NOTE: The titlebar should never be resized... */
    font-weight: bold;
    letter-spacing: 0.1em;

    color: white;
}

/* 
TODO: not super important, but I want the right side buttons
to scale uniformly to fix the specified area
*/

/* 
Below are the "sub" containers
*/
.titlebar__left {
    display: flex;
    gap: 6px;
}

.titlebar_buttons__container {
    display: flex;
}

.titlebar_buttons__close {
    margin-inline-start: 4px;
}



/* 
TODO: solution for "button resizing due to flex" issue 
*/
.button-a {
    align-self: center;
}